body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.bgimage {
  position: relative;
  background: url(./moon.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 100%;
  width: 100%;
}

.bgimage .clouds {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bgimage .clouds img {
  position: absolute;
  bottom: 0;
  max-width: 100%;
  max-height: 50%;
}

.clouds img:nth-child(1){
    animation: animate 15s linear infinite;
    animation-delay: -8s;
}
.clouds img:nth-child(2){
    animation: animate 10s linear infinite;
    animation-delay: -7s;
}
.clouds img:nth-child(3){
    animation: animate 12s linear infinite;
    animation-delay: -9s;
}
.clouds img:nth-child(4){
    animation: animate 11s linear infinite;
    animation-delay: -10s;
}
.clouds img:nth-child(5){
    animation: animate 15s linear infinite;
    animation-delay: -7s;
}



@keyframes animate {
  0% {
    transform: translateX(-100%);
  }
  100%{
    transform: translateX(160%);
  }
}
